<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jz.baiduHotSearch.mapper.HotSearchInfoMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="hotSearchInfoList.id">
        insert into hot_search_info(branch_id,img,hot_score,query,`index`,url,word,`desc`,record_date) values
        <foreach item="item" collection="hotSearchInfoList" separator=",">
            (#{branchId}, #{item.img}, #{item.hotScore}, #{item.query},#{item.index}, #{item.url}, #{item.word}, #{item.desc},#{date})
        </foreach>
    </insert>
</mapper>